body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
}
.item-nota{
    color: blueviolet;
}
.btn-eliminar{
    margin: 0 2rem;
}
